.contact-support{
  color: #8b8388;
  padding: 0 1rem;
  border-left:1px solid #8b8388;
}
/* h2{
  font-family: 'Higuen';
  src: url('Higuen.woff2') format('woff2'),
       url('Higuen.woff') format('woff');
  font-weight: normal;
  font-style: normal;
} */