* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #80344b;
  --secondary-color:#eecae0;
  --tetiary-color: #ffffff;
    --text-color: #ffeef9;
  --background-color: #f9f9f9;
  --font-size-base: 16px;
  
}


html, body {
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Remove link underlines and style */
a {
  text-decoration: none;
}

button {
  cursor: pointer;
}
